:root {
  --black: rgb(10, 10, 10);
  --black05: rgba(10, 10, 10, 0.5);
  --lightPink: #FCE4EC;
  --lightPink01: #fce4ec15;
  --redWarning: #da8686;
  --redWarningText: #8b0404;
  --greenSuccess: #b5ddb8;
  --greenSuccessText: #186904;
  --blackDC: #101820;
  --redDC: #8a2a2b;
  --YellowDC: #f2c763;
  
  --h1: 4rem;
  --h2: 3rem;
  --h3: 2.5rem;
  --h4: 2rem;
  --text: 1.6rem;
  --text-med: 1.4rem;
  --text-mini: 1.2rem;

  --nav-height: 60px;
}